{% extends 'app/layout.twig' %}
{% block title %}{{NOME_SISTEMA}}{% endblock %}
{% block url %}{{base_url()}}{% endblock %}

{% block body %}
    <main style="width: 50%; margin: 0 auto; text-align: center">
        <section id="conteudo" style="text-align: center; margin-top: 20%;">
            <div class="jumbotron" style="background-color: #fff">
                <h1>APIs RestFul</h1>
                <img src="{{ asset('assets/img/slim.png') }}" style="width: 200px;">
            </div>
        </section>
    </main>        
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript">
        var pagina = 'home';
    </script>
{% endblock %}
